.todo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  width: 22rem;
  min-height: 10rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 1rem 1.5rem;
}

.todo-header {
  margin-bottom: 1rem;
  outline: none;
}

.todo-body {
  // word-break/;
  white-space: pre-line;
  margin-bottom: 2rem;
  min-height: 4rem;
  outline: none;
}

.todo-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.todo-status {
  min-width: 6rem;
  color: black;
  padding: 0.2rem 0.4rem;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 1em;
  font-weight: 300;
  color: white;
  cursor: pointer;
}

.todo-action {
  display: flex;
  justify-content: space-between;
}

.todo-action button {
  width: 40%;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  background-color: #e86b71;
  border: none;
  border-radius: 0.2rem;
}

.green {
  background-color: green !important;
}
