<div class="todo">
  <h3 class="flex todo-header" contenteditable="true">
    {{ todoTitle }}
  </h3>
  <div class="todo-body" contenteditable="true">
    {{ todoBody }}
  </div>
  <div class="todo-info">
    <button
      class="todo-status bg-inProgress"
      (click)="toggleStatus(todoTitle!)"
      *ngIf="todoStatus == 'In Progress'; else completed"
    >
      {{ todoStatus }}
    </button>
    <ng-template #completed>
      <button
        class="todo-status bg-completed"
        (click)="toggleStatus(todoTitle!)"
      >
        {{ todoStatus }}
      </button>
    </ng-template>
    <small>
      {{ todoCreatedOn }}
    </small>
  </div>
  <div class="todo-action">
    <button class="" (click)="removeTodo(todoTitle!)">Remove</button>
  </div>
</div>
