<div class="d-flex justify-content-center align-items-center mt-5">
  <form
    class="col-lg-3"
    #loginForm="ngForm"
    (ngSubmit)="onSubmit(loginForm.value)"
  >
    <div class="mb-3">
      <label>Email address</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter email"
        name="userEmail"
        [(ngModel)]="user.email"
        #email="ngModel"
        required
      />
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Enter password"
        name="userPassword"
        [(ngModel)]="user.password"
        #password="ngModel"
        required
      />
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        Password is required
      </div>
    </div>
    <button
      type="submit"
      class="w-100 btn btn-primary"
      [disabled]="!loginForm.form.valid"
    >
      Login
    </button>
  </form>
</div>
