<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="input-group rounded p-2 d-flex justify-content-end">
      <div class="col-lg-11 d-flex justify-content-center">
        <input
          [formControl]="queryField"
          type="search"
          class="form-control rounded rounded-pill w-50 h-100"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="search-addon"
          autofocus
        />
      </div>
      <div class="p-2">
        <button class="btn btn-dark" (click)="handleLogOut()">Logout</button>
      </div>
    </div>
  </nav>
  <hr />
  <div class="flex">
    <div *ngFor="let todo of queryResults">
      <app-todo
        [todoObj]="todo"
        (toggleStatus)="handleToggleStatus($event)"
        (deleteTodo)="handleDeleteTodo($event)"
        (updateTodo)="handleUpdateTodo($event)"
        *ngIf="queryField.value !== ''"
      ></app-todo>
    </div>
  </div>
</header>
